.user-stories {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-stories h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.user-stories p {
    font-size: 16px;
    color: #4f5d75;
    line-height: 1.6;
    margin-bottom: 15px;
}

.stories-image {
    width: 105%;
    /* Adjusted to occupy 90% of the container's width */
    max-width: 1200px;
    /* Allow up to 1200px for large screens */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}