.lead-generating-campaign {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.lead-generating-campaign h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.lead-generating-campaign h4 {
    font-size: 18px;
    color: #4f5d75;
    margin-bottom: 10px;
    text-align: left;
}

.lead-generating-campaign p {
    font-size: 16px;
    color: #4f5d75;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: left;
}

.lead-generating-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.lead-generating-item h3 {
    color: #2c3e50;
    font-size: 18px;
    margin-bottom: 10px;
}

.lead-generating-item p {
    color: #4f5d75;
    font-size: 16px;
    line-height: 1.5;
}

.lead-generating-item li {
    color: #4f5d75;
    margin-bottom: 5px;
}

.lead-generating-image {
    width: 90%;
    /* Adjusted to occupy 90% of the container's width */
    max-width: 1200px;
    /* Allow up to 1200px for large screens */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}