.landing-page-link {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.landing-page-link h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.landing-link {
    font-size: 18px;
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.landing-link:hover {
    text-decoration: underline;
}